html{
  background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
  height: 100%;
 }
textarea{ resize:none;
  border: 1px solid gray;
  border-radius: 2px;}

.radio-btn{
  display: inline;
  clear: none;
}
*{text-align: center}


.left{
float: left;
margin-left: 5em;
margin-right: 5em;}
.middle{
float: left;
margin-right: 5em; }
.right{
  float: left;
}

form{
  margin: auto;
  width: 960px;

}
input{
  padding: px;
  border: 1px solid gray;
  border-radius: 2px;
}
button{width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;}
h2{
      background-color: #286090;
      color: white;
      margin: 0;
      padding: 0;
      width: auto;
      width: 169px;
      margin: auto;
      font-family: 'Lobster', cursive;
      font-size: 22px;
        margin-bottom: 40px;
  }
  label{
    color: white;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 0px 0px gray;
  }
